<h1><%= @workout.name %></h1>
<h2>Difficulty: </h2>
<h2>Created by: <%= link_to @user.name, user_workouts_path(@user) %></h2>

<h2>Exercises</h2>

<ul>
  <% @workout.exercises.each do |exercise| %>
    <%= link_to exercise.name, exercise_path(exercise), target: "_blank" %>
    <li>
      <%= image_tag exercise.image, size: "100x100" %>
      <%= exercise.sets_and_reps(@workout) %><br><br>
    </li>
  <%end%>
</ul>

<h3>Comments</h3>
<ul>
  <% @workout.comments.each do |comment| %>
    <li><%= "#{comment.user.name} said: #{comment.content}" %></li>
  <%end%>
</ul>
<h4><%= link_to "Create a new comment", new_workout_comment(@workout) %></h4>
