<h1><%= @workout.name %></h1>

<% if @workout.user == current_user %>
  <%= button_to "Edit", edit_workout_path(@workout), method: :get %>
  <%= button_to "Delete", workout_path(@workout), method: :delete %>
<%end%>

<h2>Created by: <%= link_to @workout.creator, user_workouts_path(@user) %></h2>

<h2>Exercises</h2>

<%= render 'exercises' %>

<h3>Comments</h3>

<%= render 'comments' %>