<h1><%= @workout.name %></h1>

<% if @workout.user == current_user %>
  <%= button_to "Edit", edit_workout_path(@workout), method: :get %>
  <%= button_to "Delete", workout_path(@workout), method: :delete %>
<%end%>

<h2>Created by: <%= link_to @workout.creator, user_workouts_path(@user) %></h2>

<h2>Exercises</h2>

<ul>
  <% @workout.exercises.each do |exercise| %>
    <%= link_to exercise.name, exercise_path(exercise), target: "_blank" %>
    <li>
      <%= image_tag exercise.image, size: "100x100" %>
      <%= exercise.sets_and_reps(@workout) %><br><br>
    </li>
  <%end%>
</ul>

<h3>Comments</h3>
<ul>
  <% @workout.comments.each do |comment| %>
    <li><%= link_to comment.user.name, user_workouts_path(comment.user)%><%= " said: #{comment.content}" %></li>
    <% if comment.user == current_user %>
      <%= button_to "Edit", edit_comment_path(comment), method: :get %>
      <%= button_to "Delete", comment_path(comment), method: :delete %>
    <%end%>
    <br>
  <%end%>
</ul>
<h4><%= link_to "Create a new comment", new_workout_comment_path(@workout) %></h4>
