<div class="container-fluid row row-cols-1 row-cols-md-5 g-4">
  <% @exercises.each do |exercise| %>

    <div class='card text-center bg-secondary mb-3 border-primary mb-3' >
        <a href="<%=exercise_path(exercise)%>" class="card-img-top"><%= image_tag exercise.image, size: "258x150" %></a>

        <div class='col'>
        <h3><%= exercise.name %></h3>
        
        Equipment: <%= exercise.equipment %><br>
        Difficulty: <%= exercise.difficulty %>   
        <br> 
        </div>  
    </div>
    
  <%end%>
</div>
