<h1><%= @exercise.name %></h1>

<%= image_tag @exercise.image, size: "400x400" %>

<h2>Equipment: <%= @exercise.equipment %></h2>
<br>
<h2>Difficulty: <%= @exercise.difficulty %></h2>

<h2>Steps</h2>
<ol>
  <%= render 'steps' %>
</ol>