<!-- <% if logged_in? %>
  <ul class="nav border border-3 mb-4 rounded-pill">
    <li class="nav-item text-reset">
      <%= link_to 'Logout', logout_path, method: :delete, class: "nav-link active"%>
    </li>
    <li class="nav-item text-reset">
      <%= link_to "My workouts", user_workouts_path(current_user), class: "nav-link active" %>
    </li>
    <li class="nav-item text-reset">
      <%= link_to 'Exercises', exercises_path, class: "nav-link active" %>
    </li>
    <li class="nav-item text-reset">
      <%= link_to 'Create a new workout', new_workout_path, class: "nav-link active" %>
     
    </li>
    <li class="nav-item text-reset">
      <%= link_to 'All Workouts', workouts_path, class: "nav-link active" %>
     
    </li>
  </ul>
<% else %>
  <ul class="nav border border-3 mb-4 rounded-pill">
    <li class="nav-item">
      <%= link_to 'Login', new_session_path, class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "Create an account", new_user_path, class: "nav-link" %>
    </li>
  </ul>
<%end%> -->

<nav>
  <div class='navbar-logo'>
    <%= image_tag("logo.png", :alt => "Gritty Logo") %>
  </div>
</nav>

<!-- CREATE THE NAVEBAR WITH MATCHING COLORS -->
<!-- ADD LOGO TO FAVICON  -->